/* Global */

/* #2 #colorful #palette is:
  * Background: #F5F5F5 (GREY 100)
  * Primary Text: black

  * Primary color: #3F51B5 (INDIGO)
  * Primary color_text : white
  * Accent color: #CDDC39 (LIME)
  * Accent color_text: black
  */

/*global styles */
* {
    /* #2 #font #faces */
    font-family: 'Arial', sans-serif;
}

body {
    /* #2 #colorful #background */
    background-color: #F5F5F5;
}

button {
    /* #2 #colourful #plusfive */
    background-color: #CDDC39;
    color: black;
    /* #2 #font capital #letters */
    text-transform: uppercase;
}

/* Remove ugly spacing between all components */
* {
  margin: 0;
  padding: 0;  
}
/* App bar */
/* Channels list */
/* Tab bar */
/* Messages */
