/* Global */

/* #2 #colorful #palette is:
  * Background: #F5F5F5 (GREY 100)
  * Primary Text: black

  * Primary color: #3F51B5 (INDIGO)
  * Primary color_text : white
  * Accent color: #CDDC39 (LIME)
  * Accent color_text: black
  */

/*global styles */
* {
    /* #2 #font #faces */
    font-family: 'Arial', sans-serif;
}

body {
    /* #2 #colorful #background */
    background-color: #F5F5F5;
}

button {
    /* #2 #colourful #plusfive */
    background-color: #CDDC39;
    color: black;

}

/*Buttons, links to w3w locations need to be uppercase */
a, button {
  /* #2 #font capital #letters */
  text-transform: uppercase;
}

/* Remove ugly spacing between all components */
* {
  margin: 0;
  padding: 0;
}

/* App bar */

h1 {
    /* #2 #colourful #app-bar */
    background-color: #3F51B5;
    color: white;
}

/* Channels list */

/*styles for channel area*/
h2 {
    /* #2 #colorful #channelandchat */
    background-color: white;
}
ul{
  /*background for channels is white and there are no bullets */
  background-color: white;
  list-style-type: none;
}

/* Tab bar */
#tab-bar > button {
  text-align: center; /*Use CSS to center the text inside the buttons*/
  border: none; /* no border */
  background-color: white; /* Give buttons in the tab bar a white background*/
  font-size: 13px; /* Set  the font size for tab bar buttons to 13px*/
  width: 33%; /* Set buttons width to one-third of the available width*/
  height: 72px; /* Make buttons 72 pixels high*/
  padding: 16px; /* Set padding to 16px*/
}

/* Messages */
/*styles for chat area*/
.message p {
    /* #2 #colorful #channelandchat */
    background-color: white;
    padding: 16px;/* Set message text padding to 16 px. */
}

.message strong {
    /* #2 #font #locations need an extra element, we'll use strong for w3w locations */
    text-transform: uppercase;
}

.message h3 {
    /* #2 #font #metadata is now medium */
    font-size: medium;
}

.message em {
    /* #2 #font #remaining overrides the default italic appearance of em elements*/
    font-size: larger;
    font-style: normal;
}

.message{
  width : 80%;
  margin-left: 2.5%; /* Left-align all messages by using margins.*/
  margin-bottom: 8px; /* Set bottom margin for messages.*/
}

.message a:link {
  color : black;
}

.own {
  margin-left: 17.5%; /* Style own message differently */
}
